/nn/data/raw/KingBaseLite2019/KingBaseLite2019-A00-A39.ini
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-A00-A39.pgi
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-A00-A39.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-A40-A79.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-A80-A99.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-B00-B19.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-B20-B49.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-B50-B99.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-C00-C19.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-C20-C59.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-C60-C99.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-D00-D29.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-D30-D69.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-D70-D99.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-E00-E19.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-E20-E59.pgn
/nn/data/raw/KingBaseLite2019/KingBaseLite2019-E60-E99.pgn
/nn/data/custom_format/KingBaseLite2019-A00-A39.pkl
/nn/data/custom_format/KingBaseLite2019-A40-A79.pkl
/nn/model/checkpoints/
/nn/model/saved_model.h5
*pyc
